{% extends 'base.html' %}

{% block titulo %}Exclusão de Item{% endblock %}

{% block corpo %}
<div class="form-control">
    <form metohod="post">
        {% csrf_token %}
        <div class="text-center">
            <h3>
                <label class="text-primary">Exclusão de Item - {{item.descricao}}</label>
            </h3>
        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="descricao" maxlength="100" value="{{item.descricao}}" disabled />
        </div>
        <div class="mb-3">
            <label for="categoria">Categoria</label>
            <select name="categoria" id="categoria" class="form-select" disabled >
                <option value="{{categ.id}}">{{categ.nome}}</option>

            </select>
        </div>
        {% include 'acoes_form_exclui.html' %}
    </form>
</div>
{% endblock %}